/*  your css code here. If applicable */
:root {
	--heading-color: #3b99e0;
}
.heading {
	color: var(--heading-color);
}
.text-center {
	text-align: center;
}
.block-heading p {
	text-align: center;
}
.summary {
	background-color: #f7fbff;
	border-top: 1px solid #5ea4f3;
}
a {
	text-decoration: none;
	color: inherit;
}